body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
    	#green .ui-slider-range { background: #8ae234; }
    	#green .ui-slider-handle { border-color: #8ae234; }